* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active,
a:focus,
a:active {
  outline: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside,
article,
a,
img {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

* {
  color: #000;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5vw;
}

.header__title {
  font-size: 5vw;
}
.header__mini-text {
  font-size: 1.6vw;
}

.section-description h2 {
  font-size: 2vw;
}

.section-working h2 {
  font-size: 4vw;
}

.navigation {
  background-color: rgb(101, 99, 60);
  padding: 10px;
}
.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.navigation__item {
  margin: 0 10px;
}
.navigation__link {
  display: block;
  padding: 5px 10px;
  background-color: #70b29f;
  color: #000;
  text-decoration: none;
}
.navigation__link:hover {
  background-color: #fff9e6;
}

.header {
  background: linear-gradient(180deg, #55C281 0%, #FFFFD2 100%);
  padding: 120px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header__title {
  position: relative;
  color: #000;
  margin-bottom: 10px;
}
.header__mini-text {
  color: #000;
  margin-bottom: 0;
}
.header img {
  width: 27vw;
  left: 50wv;
  top: 13wv;
  margin: 3vw;
}
@keyframes img {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
  }
  50% {
    left: 200px;
    top: 200px;
  }
  75% {
    left: 0px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.section-description {
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #FFFFD2 0.01%, #55C281 99.99%);
  padding: 20px;
}
.section-description img {
  width: 29vw;
  left: 50wv;
  top: 13wv;
  margin: 4vw;
}
.section-description img:hover {
  animation: vibrate 0.5s;
  transform: rotate(-25deg);
  animation-iteration-count: infinite;
}
.section-description__content {
  margin-right: 15vw;
}
.section-description__title {
  margin-bottom: 5vw;
}
.section-description__description {
  margin-right: 4vw;
}
.section-description ul, .section-description li {
  list-style-type: square;
}

.section-working {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #55C281 0%, #FFFFD2 100%);
  padding: 20px;
  height: 40vw;
}
.section-working__content {
  text-align: center;
}
.section-working__title {
  margin-bottom: 3vw;
}
.section-working__description {
  font-size: 18px;
  margin-bottom: 0;
}

.footer {
  background: linear-gradient(180deg, #55C281 0%, #FFFFD2 100%);
  padding: 20px;
  text-align: center;
}
.footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.footer__item {
  margin: 10px;
}
.footer__link {
  text-decoration: none;
}
.footer__link:hover {
  color: #311eae;
}/*# sourceMappingURL=style.css.map */