.header {
	background: linear-gradient(180deg, #55C281 0%, #FFFFD2 100%);
	padding: 120px;
	text-align: left;
	display: flex;
	align-items: center;
	justify-content: space-around;


	&__title {
		position: relative;
		color: $color-black;
		margin-bottom: 10px;
	}

	&__mini-text {
		color: $color-black;
		margin-bottom: 0;

	}

	img{
		width: 27vw;
		left: 50wv;
		top: 13wv;
		margin: 3vw;
	}

		@keyframes img {
			0% {
				left: 0px;
				top: 0px;
			}
	
			25% {
				left: 200px;
				top: 0px;
			}
	
			50% {
				left: 200px;
				top: 200px;
			}
	
			75% {
				left: 0px;
				top: 200px;
			}
	
			100% {
				left: 0px;
				top: 0px;
			}
		}
}