.section-description {
	display: flex;
	align-items: center;
	background: linear-gradient(180deg, #FFFFD2 0.01%, #55C281 99.99%);
	padding: 20px;


	img {
		width: 29vw;
		left: 50wv;
		top: 13wv;
		margin: 4vw;
		
	}

	&__content {
		margin-right: 15vw;
	}

	&__title {
		margin-bottom: 5vw;
	}

	&__description {
		margin-right: 4vw;
	}
	
	ul, li{
	
		list-style-type: square;
			
	}
}

.section-working {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(180deg, #55C281 0%, #FFFFD2 100%);
	padding: 20px;
	height: 40vw;

	&__content {
		text-align: center;
	}

	&__title {
		margin-bottom: 3vw;
	}

	&__description {
		font-size: 18px;
		margin-bottom: 0;
	}
}

